table {
  width: 100%;
}

thead tr {
  background-color: powderblue;
}

table tbody tr .info {
  display: flex;
  gap: 4px;
  width: 33%;
}

table tbody tr .info .info-img {
  width: 100%;
}
table tbody tr .info .info__right {
  text-align: center;
}
